/* HEADER & MEMU BAR */

.navbar {
    background-color: #007b5e;
    padding: 25px;
}

.navbar-light .navbar-brand {
    color: #14c523;
    font-family: fantasy;
    font-size: 32px;
}

.nav-item{
    margin-left: 550px;
    font-size: 17px;
}

a {
    color: #4582EC;
    text-decoration: none;
    background-color: transparent;
    margin-left: 14px;
}

img.icon-sosialmedia {
    vertical-align: middle;
    border-style: none;
    width: 30px;
    height: 30px;
}

/* FOOTER */

.copyright {
    padding-left: 400px;
    font-family: auto;
    color: white;
}

nav.navbar.footer {
    padding: 70px;
}
